<div class="m-5 w-5">
    <h2 class="mb-5">Login Page</h2>
    <form>
        <div class="mb-3">
            <label for="userId" class="form-label">Email address</label>
            <input type="email" class="form-control" name="userId" [(ngModel)]="userId" pInputText>
        </div>
        <div class="mb-3">
            <label for="userPassword" class="form-label">Password</label>
            <input type="password" class="form-control" name="userPassword" [(ngModel)]="userPassword">
        </div>
        <button type="submit" class="btn btn-primary" (click)="loginBtn()">Submit</button>
    </form>
</div>

<!-- <h2>{{userId}}</h2>
<h3>{{userPassword}}</h3> -->


<!-- <div>
    <form>
        <div class="flex gap-1">
            <label for="userId"></label>
            <input type="text" pInputText name="userId" [(ngModel)]="userId" />
        </div>

        <div class="flex gap-1">
            <label for="userPassword"></label>
            <input [(ngModel)]="userPassword" name="userPassword" type="password">
        </div>

        <button type="submit" (click)="loginBtn()">Login</button>
    </form>
</div> -->